@use "variables";

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin flexbox($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin iconCircle() {
  @include flexbox;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 1;
  background-color: variables.$green-medium;
  color: variables.$white-medium;

  @media (max-width: 600px) {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}
