.body__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.body_hold {
  overflow: hidden;
}