@use "../abstracts/variables";

.purchase-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px 0px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 101;

  &__active {
    background-color: variables.$green-extra-light-opacity;
    backdrop-filter: blur(3px);
    opacity: 1;
    visibility: visible;
  }
}

.purchase-modal__wrapper {
  z-index: 2;
  width: 500px;
  background: variables.$white-medium;
  padding: 40px;
  border-radius: 20px;
  box-shadow: variables.$shadow;
  transition: .5s;
  opacity: 1;
  visibility: visible;
  height: 850px;
  margin: 10px;

  &_hide {
    opacity: 0;
    visibility: 0;
    overflow: hidden;
    height: 0px;
  }

  @media (max-width: 600px) {
    width: 300px;
    padding: 15px;
    height: 755px;
  }
}

.purchase-form {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;

    @media (max-width: 600px) {
      font-size: 30px;
    }
  }

  &__text {
    margin-top: 15px;

    @media (max-width: 600px) {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  &__input {
    margin-top: 5px;
    padding: 5px 10px;
    border: .5px variables.$black solid;
    border-radius: 5px;
    outline: none;

    &::placeholder {
      color: variables.$grey-medium;
    }
  }

  &__error {
    margin-top: 5px;
    color: red;
    opacity: 0;
    transition: .3s;

    &_active {
      opacity: 1;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }

  &__pay-card {
    margin: 15px 0px 35px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: variables.$green-extra-light-opacity;
    padding: 20px;
  }

  &__pay-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card-icon {
    width: 30px;
    height: 20px;
    background: url(./assets/svg/credit-card-payment-icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__date,
  &__cvv {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

}

#payNowBtn {
  width: 200px;
}

.purchase__message-container {
  position: fixed;
  height: calc(100% - 210px);
  width: 100%;
  z-index: 1;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.purchase__message {
  background: variables.$white-medium;
  padding: 30px;
  border-radius: 20px;
  box-shadow: variables.$shadow;
  transition: .5s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;


  &_hide {
    transform: translate(0px, -200%);
    opacity: 0;
    visibility: 0;
  }

  @media (max-width: 600px) {
    width: 300px;
  }
}