@use "../abstracts/variables";

.cart-page {
  margin-top: 25px;
  position: relative;
  height: calc(100% - 25px);
  display: flex;
  flex-direction: column;
}

// empty cart

.empty-cart-page {
  padding: 30px 0px 100px;
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.cart-page__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.empty-cart-page__img {
  width: 150px;

  @media (max-width: 600px) {
    width: 100px;
  }
}

.empty-cart-page__block {
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 600px) {
    padding-left: 25px;
  }
}

.empty-cart-page__text {
  font-size: 40px;

  @media (max-width: 600px) {
    font-size: 35px;
  }
}

.empty-cart__btn.button {
  width: 160px;
}

// full cart

.full-cart-page__buy-button,
.full-cart-page__catalog-button {
  width: 100%;
  margin-bottom: 10px;
}

.full-cart-page {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.full-cart-page__products {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.full-cart-page__settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 930px) {
    margin-top: -85px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  @media (max-width: 600px) {
    margin-top: -65px;
  }
}

.full-cart-page__pagination {
  display: flex;
  gap: 50px;
  @media (max-width: 930px) {
    gap: 0px;
    flex-direction: column;
    align-items: flex-end;
  }
}

.full-cart-page__pagination-text {
  color: variables.$grey-medium;
}

.amount-number {
  text-align: center;
  cursor: default;
  padding: 0px;
  outline: none;
  border: none;
  background: none;
  width: 30px;

  @media (max-width: 600px) {
    width: 20px;
  }
}

#pagination-max-pages {
  margin-left: 10px;
}

.cart-list {
  width: 100%;
}

.cart-list__item {
  position: relative;
  margin-bottom: 10px;
}

.cart-list__number {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$grey-medium;
  border-radius: 100%;
  border: .5px variables.$grey-medium solid;
}

.full-cart-page__panel {
  position: relative;
  width: 30%;
  margin-top: 45px;
  margin-bottom: 50px;

  @media (max-width: 930px) {
    margin-top: 15px;
  }

  @media (max-width: 800px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.full-cart-page__promo {
  width: 100%;
  background-color: variables.$green-extra-light-opacity;
  margin-bottom: 3px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.full-cart-page__promo-input {
  margin: 10px 0px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;

  &::placeholder {
    color: variables.$grey-medium;
  }
}

.full-cart-page__promo-button {
  background: none;
  border: none;
  width: 40%;
  cursor: pointer;
}

.full-cart-page__info {
  width: 100%;
  background-color: variables.$green-extra-light-opacity;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 1px 20px;
}

.full-cart-page__subtitle {
  font-size: large;
}

.full-cart-page__items-value {
  font-weight: bold;
  margin-left: 5px;
}

.full-cart-page__subtotal,
.discounts__item { 
  display: flex;
  justify-content: space-between;
  border-bottom: 1px variables.$grey-medium dotted;
}

.discounts__item {
  color: variables.$green-dark;
  margin-left: 20px;
  margin-top: 16px;
  font-size: 14px;
}

.discounts__item-promo {
  transition: .3s;
  cursor: pointer;

  &::before {
    transition: .3s;
    content: 'x';
    opacity: 0;
    position: absolute;
    left: 20px;
    color: red;
  }

  &:hover {
    color: red;
    transition: .3s;

    &::before {
      opacity: 1;
    }

  }
}

.full-cart-page__total {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px variables.$black solid;
}
