@use "../../abstracts/mixins";
@use "../../abstracts/variables";

.range {
  width: 100%;

  &__value {
    width: 100%;
    height: 40px;
    @include mixins.flexbox(space-between);
    margin: 25px 0 35px;

    input {
      width: 50px;
      height: 40px;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      border: 1px solid variables.$grey-light;
      outline: none;
    }
  }

  &__separator {
    margin: 10px;
  }

  &__range-input {
    position: relative;

    input {
      position: absolute;
      width: 100%;
      height: 6px;
      top: -6px;
      background: none;
      pointer-events: none;
      appearance: none;
      -webkit-appearance: none;
    }
  }

  input[type='range']::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: variables.$green-medium;
    pointer-events: auto;
    -webkit-appearance: none;
    cursor: pointer;
  }
}

.slider {
  height: 6px;
  position: relative;
  background: variables.$grey-light;
  border-radius: 6px;

  &__progress {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 6px;
    background: variables.$green-medium;
  }
}
