@charset "UTF-8";

// 1. Configuration and helpers
@import
  'style/abstracts/variables',
  'style/abstracts/functions',
  'style/abstracts/mixins';

// 2. Vendors
@import
  'style/vendors/normalize';

// 3. Base stuff
@import
  'style/base/base',
  'style/base/fonts',
  'style/base/typography',
  'style/base/helpers';

// 4. Layout-related sections
@import
  'style/layout/header',
  'style/layout/main',
  'style/layout/promo',
  'style/layout/body',
  'style/layout/purchase-modal',
  'style/layout/footer';

// 5. Components
@import
  'style/components/button',
  'style/components/product-card',
  'style/components/sort-parameters',
  'style/components/filters/range',
  'style/components/filters/check';

// 6. Page-specific styles
@import
  'style/pages/home',
  'style/pages/cart-page',
  'style/pages/error-page',
  'style/pages/product-page',
  'style/pages/catalog';

// 7. Themes
@import
  'style/themes/default';
