@charset "UTF-8";

// 1. Configuration and helpers
@use 'style/abstracts/variables';
@use 'style/abstracts/functions';
@use 'style/abstracts/mixins';

// 2. Vendors
@use 'style/vendors/normalize';

// 3. Base stuff
@use 'style/base/base';
@use 'style/base/fonts';
@use 'style/base/typography';
@use 'style/base/helpers';

// 4. Layout-related sections
@use 'style/layout/header';
@use 'style/layout/main';
@use 'style/layout/promo';
@use 'style/layout/body';
@use 'style/layout/purchase-modal';
@use 'style/layout/footer';

// 5. Components
@use 'style/components/button';
@use 'style/components/product-card';
@use 'style/components/sort-parameters';
@use 'style/components/filters/range';
@use 'style/components/filters/check';

// 6. Page-specific styles
@use 'style/pages/home';
@use 'style/pages/cart-page';
@use 'style/pages/error-page';
@use 'style/pages/product-page';
@use 'style/pages/catalog';

// 7. Themes
@use 'style/themes/default';
